/* GAME TITLE / SQUARED LOGO */

#game-title-area{
	grid-area: title;
	text-align: center;
	vertical-align: middle;
	margin: 2px auto 2px auto;
	/*border: 5px solid red;*/
}

/* ENTIRE GAME BOARD */ 

#board-area{
	grid-area: board;
	/*border: 5px solid purple;*/
}
#board td{
	width: 45px;
	height: 45px;
	min-width: 50px;
	min-height: 50px;
	border: 2px solid black;
	background-color: white;
}
#board{
	border-collapse: collapse;
	margin: 5px auto 5px auto;
}

/* BOARD SPACES */

#board .red-captured{
	background-color: #CC0000;
}
#board .blue-captured{
	background-color: #001999;
}
#board .yellow-captured{
	background-color: #FFFF00;
}
#board .green-captured{
	background-color: #009900;	
}
#board .highlighted{
	background-color: #CCFFB3;
}

/* OPTIONS AREA */

#options-area{
	/*border: 5px solid blue;*/
	grid-area: options;
	display: grid;
	grid-template:	"options1 options2" 20vh
			/ 5fr 5fr;
}
#options-area ul{
	list-style-type: none;
	font-size: 30pt;
	text-indent: 0px;
	font-family: fantasy;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
#home, #play, #leaderboard, #learn{
	text-shadow: 4px 4px 6px #777777;
	color: black;
	text-decoration: none;
}
#home:hover, #home:focus{
	color: #940000;
	text-shadow: 4px 4px 6px #D00000;
}
#play:hover, #play:focus{
	color: #00942C;
	text-shadow: 4px 4px 6px #00AC0B;
}
#leaderboard:hover, #leaderboard:focus{
	color: #859400;
	text-shadow: 4px 4px 6px #BFD400;
}
#learn:hover, #learn:focus{
	color: #000099;
	text-shadow: 4px 4px 6px #0023B0;
}
#options1{
	grid-area: options1;
}
#options2{
	grid-area: options2;
}

/* CHATBOX */

#chatbox{
	margin: 2px auto 2px auto;
	grid-area: chatbox;
}
#message{
	grid-area: message;
}
#chat-submit{
	grid-area: chat-submit;
}
#chat-area{
	grid-area: chat;
	padding: 2px auto 2px auto;
	/*border: 5px solid green;*/
	display: grid;
	grid-template:	"chatbox chatbox" 70vh
			"message chat-submit" 20vh
			/ 3fr 3fr ;
}

/* BODY / BACKGROUND */
/*This doesnt belong here, keep the css styling specific to the component  */
body{
/*	background-image: url("../images/squared-background.png");
	background-image-opacity: 0.2;
	display: grid;
	grid-template:  "title title options options" 20vh
			"board board chat chat" 80vh
			/ 5fr 5fr 4fr 4fr;*/
}

/* DYNAMIC UI */

@media(max-width:1200px){
	body{
		grid-template: "title options options" 20vh
				"board board board" 100vh
				"chat chat chat" 60vh
				/ 4fr 4fr 4fr; 
	}
}

/* NOT YET IMPLEMENTED - TO BE IMPLEMENTED IN A LATER VERSION */

#score-area{
	grid-area: scores;
	background-color: #6D8491;
	border-radius: 6px;
	margin: 2px auto 2px auto;
	color: white;
	font-family: monospace;
	font-size: 30px;
	font-weight: bold;
	padding:8px;
	display:grid;
	grid-template: "bluescore time greenscore" 100vh
			/ 4fr 5fr 4fr ;
}
#blue-score{
	grid-area: bluescore;
}
#time{
	grid-area: time;
	text-align: center;
	margin: 2px auto 2px auto;
}
#green-score{
	grid-area: greenscore;
}
img.score-player{
	width: 50px;
	height: 50px;
	margin: 4px;
	vertical-align: middle;
	border: 2px solid black;
}
#dice-area{
	grid-area: dice;
}
